* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;

    
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1540652980807-db4655e8fa60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1830&q=80");
    background-size: cover;

}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;

}

.clock {
    display: flex;
    position: relative;
    
    
}


.clock div {
    margin: 0 5px;
    
}

.clock span {
    display: flex;
    height: 80px;
    width: 100px;
    background: slateblue;
    opacity: .8;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0.3);



}

.clock .text {
    height: 30px;
    font-size: 12px;
    background: darkblue;
    opacity: .3;

}

.clock #ampm {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 30px;
    font-size: 12px;
    background: black;
    opacity: .6;
}


